.container {
	margin: auto;
	width: 66%;
}

.score {
	font: 20pt bold;
	text-align: center;
}

.catList {
	float: left;
	width: 20em;
}

#catImg {
	height: 200px;
	width: auto;
}

li {
	display: inline;
	list-style: none outside;
	margin-right: 1em;
}

.selected {
	background-color: rgba(83, 281, 101, 0.7);
}

.info {
	margin-right: 1em;
}

.admin {
	width: 10em;
	display: block;
	margin-bottom: 3px;
}

#admin-right {
	float: right;
}

.admin:first-of-type {
	margin-top: 3px;
}

.admin-button {
	width: 5em;
}
