.container {
	margin: auto;
}

.score {
	font: 20pt bold;
	text-align: center;
}

.catList {
	float: left;
	width: 20em;
}

li {
	display: inline;
	list-style: none outside;
	margin-right: 1em;
}

.selected {
	background-color: rgba(83, 281, 101, 0.7);
}

.info {
	margin-right: 1em;
}

